body{
   font-family: sans-serifbe;
   font-size: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 100vh;
   background-color: cyan;
   margin: 0;
   justify-content: center;
}
.calculator{
    width: 400px;
    background-color: darkseagreen;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0px 0px 0px cyan;
    text-align: center;

}

.display{
   font-family: fantasy;
   width: 94%;
   height: 30px;
   font-size: 1.5em;
   text-align: right;
   padding: 10px;
   background-color: lightblue;
   margin-top: 10px;
   border: 1px solid* add;
   border-radius: 5px;
   margin-bottom: 10px;
}


.buttons{
   display:grid ;
   grid-template-columns: repeat(4, 1fr);
   gap: 14px;
}

button{
   font-family: fantasy;
   font-size: 1,5em;
   padding: 20px;
   border-radius: 10px;
   border:solid* steelblue;
   cursor: pointer;
   background-color: teal rgb(184, 212, 154);

}

.clear{
   background-color: tomato;
   color: white;
   padding: 10px;
   border-radius: 10px;
}
button.operator{
   background-color: yellow;
   color: white;
}

button.equal{
   background-color: cadetblue;
   color: white;
   grid-column: span2;
   font-size: 2.5em;
}
.footer{
   margin-top: 20px;
   font-size: 20px;
   color: dodgerblue;
   text-align: center;

}
.header{
   display: flex;
   align-items: center;
   background-color: lightblue;
   padding: 10px;
   border-radius: 10px;
}

.logo{
   width: 40px;
   height: 40px;
   margin-right: 60px;
}

.h1{
   text-align: center;
   color: brown;
}

.font-line{
   height: 2.2px;
   margin-left: 30px;
   margin-right: 30px;
   background-color: black;
   margin-top: 10px;
}

/*tampilkan responsive mobile*/
@media (max-width : 450px) {
   .calculator{
      width: 90%;
   }

   .display {
      font-size: 2em;
   }
   
   .button {
      font-size: 1.2em;
      padding: 12px;
   
   }
}
