body {
    font-family: 'sapco mono',monospace;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color :white;
    margin: 0;
    justify-content: center;
}

.calculator{
    width: 400px;
    background-color:bisque;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(242, 121, 121, 0.8);
    text-align: center;
}

.display{
    font-family:Arial, Helvetica, sans-serif;
    width: 94%;
    height: 30px;
    font-size: 2.5em;
    text-align: right;
    padding: 10px;
    background-color:cyan;
    margin-top: 10px;
    border: 1px solid #add;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

button {
    font-family: 'space mono' monospace;
    font-size: 1.2em;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gold;
    cursor: pointer;
    background-color:rgb(184, 212, 154);
}

.clear{
    background-color:#ff0008;
    color: white;
}  

button.operator{
    background-color:rgb(41, 150, 154);
    color:white ;
}

butoon.equal{
    background-color:aqua;
    color: brown;
    grid-column: span 2;
    font-size: 2.5em;
}

.footer{
    margin-top: 20px;
    font-size: 20px;
    color:black;
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 10px;
}

.logo{
    width: 40px;
    height: 40px;
    margin-right: 60px;
}

.h1{
    text-align: center;
    color: brown;
}

.font-line{
    height: 2.2px;
    margin-left: 30px;
    margin-right: 30px;
    background-color:black;
    
}

/*tampilan responsive mobile*/

@media (max-width : 450px) {
    .calculator{
        width: 90%;
    }

    .display{
        font-size: 2em;
    }
    
    .button{
        font-size: 1.2em;
        padding: 12px;
    }
}
