body {
    font-family: 'sapce mono',monospace;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color:rgb(201, 174, 174);
    margin: 0;
    justify-content: center;
}

.calculator {
    width: 400px;
    background-color: white;
    padding: 10px ;
    border-radius: 10px ;
    box-shadow: 0px 0px 10px rgb(241, 121, 121, 0,8);
    text-align: center;
}

.display {
    font-family: 'space mono' ,monospace;
    width: 94%;
    height: 30px;
    font-size: 2.5em;
    text-align: right;
    padding: 10px;
    background-color: rgb(201, 174, 174);
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button {
    font-family: 'space mono' ,monospace;
    font-size: 1.5em ;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #bfbfbf;
    cursor: pointer;
    background-color: rgb(201, 174, 174);
}

.clear {
    background-color: rgb(175, 132, 132);
    color: white;
}

button.operator {
    background-color: teal;
    color: white;
}

button.aqual {
    background-color: deepskyblue;
    color: black;
    grid-column: span 2;
    font-size: 2em;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: red;
}

.header {
    display: flex;
    align-items: center;
    background-color: cadetblue;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

h1{
    text-align: center;
    color: white;
}

.footer-line{
    height: 2,2px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    margin-top: 10px;
}

/*Tampilan responsive mobile*/

@media (max-width :40px){
    .calculator{
        width: 90px;
    }
    .display{
        font-size: 2em;
    }
    .button {
        font-size: 1.2em;
        padding: 12px;
    }
}
